.display {
    height: 100vh;
    background-color: #a4c7ce;
    color: black;
    padding-left: 8vw;
    padding-right: 8vw;
    padding-top: 10vh;
}

.display h1 {
    font-size: 2.5rem;
}

.display__topText {
    width: 70vw;
}

.display__container {
    display: flex;
    flex-direction: row;
    margin: 5vh auto;
}

.display__text {
    width: 60vw;
}

.display__list {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    padding-bottom: 10px;
}

.display__text li {
    list-style: none;
    width: 40vw;
    padding-left: 30px;
    text-align: left;
}

.percentage {
    font-weight: 600;
    margin: 0;
}

.strike {
    text-decoration: line-through;
}

.display__image {
    width: 40vw;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-left: 8vw;
    padding-top: 2vh;
}

.display__image img {
    height: auto;
    width: 40vw;
    margin: auto;
}

@media screen and (max-width: 960px) {
    .display {
        height: 100%;
        padding-bottom: 10vh;
    }
    .display h1 {
        font-size: 2.1rem;
    }

    .display__container {
        flex-direction: column;
    }

    .display__topText {
        width: 80vw;
    }
    
    .display__text {
        width: 80vw;
    }

    .display__text li {
        width: 58vw;
    }

    .display__image {
        width: 60vw;
        text-align: center;
        padding-left: 0vw;
        margin: auto;
    }
    
    .display__image img {
        height: auto;
        width: 60vw;
        margin: auto;
    }

    .display li {
        padding-bottom: 2vh;
        font-size: .8rem;
        width: 80vw;
    }
}