.footer {
  background-color: black;
  height: 40vh;
}

.footer__container {
  width: 100vw;
  display: flex;
  flex-direction: row;
}

.footer__first {
  width: 33vw;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.footer__second {
  width: 33vw;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.footer__second video {
  height: 40vh;
  width: auto;
}

.footer__third {
  width: 28vw;
  text-align: right;
  display: flex;
  flex-direction: column;
  margin: auto;
  color: white;
  padding-right: 5vw;
}

.footer__third p { 
  margin: 0;
  padding: 8px;
}

.footer__links {
  padding-right: 8px;
}

.footer__links a {
 text-decoration: none;
 color: white;
 padding-left: 20px;
}

@media screen and (max-width: 640px) {
  .footer__first {
    display: none;
  }

  .footer__third p { 
    padding: 0px;
  }

  .footer__links {
    padding-right: 0px;
  }

  .footer__second {
    width: 50vw;
  }
  
  .footer__second video {
    height: 40vh;
    width: auto;
  }
}